.external {
    background-color: yellow;
}
.first {
    background-color: red;
}
.second-div {
    background-color: blue;
}
.box1 {
    background-color: green;
    height: 100px;
    width: 100px;
}
.box2 {
    background-color: blue;
    height: 200px;
    width: 200px;
}
.box3 {
    background-color: red;
    height: 300px;
    width: 300px;
}
.nav {
    background-color: yellow;
    display: flex;
    gap: 10px;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
}
.menu1 {
    background-color: blue;
}

.menu2 {
    background-color: green;
}

.menu3 {
    background-color: grey;
}